# block bad bots
# https://github.com/awkirin/awk-snippets/blob/main/.htaccess

Order Allow,Deny
Allow from all

SetEnvIfNoCase User-Agent "petalbot" bad_bot
SetEnvIfNoCase User-Agent "trendictionbot" bad_bot
SetEnvIfNoCase User-Agent "keys-so-bot" bad_bot

Deny from env=bad_bot
# /block bad bots
